<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">type_club</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link" href="javascript:void(0)">Link</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link" href="javascript:void(0)">Link</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link" href="javascript:void(0)">Link</a>-->
                <!--</li>-->
            </ul>
            <a class="navbar-brand" href="/account">
                <img src="https://placehold.co/400" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            </a>
        </div>
    </div>
</nav>
