<form method="post" action="/login" id="form" style="min-width: 25vw;">
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" name="username">
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password:</label>
        <div class="password">
            <input class="form-control" id="password" name="password" type="password">
            <button type="button" class="btn border mx-1">
                <i class="fa-regular fa-eye"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="form-group">
        <input class="form-control" type="submit" value="Login">
    </div>
    <br>
    <p>Don't have an account? <a href="/register">Register here.</a></p>
</form>
