<div class="d-flex flex-column" style="min-width: 25vw; max-width: 50vw;">
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">{{ .User.Username }}</h4>
            <p><strong>Average WPM:</strong><span id="awpm">{{ .Stats.Awpm }} </span></p>
            <p><strong>Average Raw WPM:</strong><span id="wpm"> {{ .Stats.Wpm }} </span></p>
            <p><strong>Average Accuracy:</strong><span id="accuracy">{{ .Stats.Accuracy }}% </span> </p>
        </div>
    </div>
    <hr>
    <form class="d-flex flex-row mb-4 align-items-center justify-content-even">

        <select class="form-select me-2" id="type">
            <option value="id">Age</option>
            <option value="awpm">WPM</option>
            <option value="wpm">Raw WPM</option>
            <option value="accuracy">Accuracy</option>
        </select>


        <select class="form-select me-2" id="order">
            <option value="desc">DESC</option>
            <option value="asc">ASC</option>
        </select>

        <input class="form-control" type="button" onclick="OnClick()" id="sort" value="Sort">
    </form>
    <div id="body">

    </div>
</div>

<script src="/js/profile.js"></script>
