<form method="post" action="/register">
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" name="username">
    </div>
    <br>
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="email">
    </div>
    <br>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password">
    </div>
    <br>
    <div class="form-group">
        <input class="form-control" type="submit" value="Register">
    </div>
    <br>
    <p>Have an account? <a href="/login">Login here.</a></p>
</form>
