<div class="d-flex flex-column align-items-center" style="width: 75vw;">
    <span id="output">{{.TypeRun.Html}}</span>
    <div class="d-flex flex-row">
        <h5 class="mx-2">Wpm: {{.TypeRun.Awpm}}</h5>
        <h5>|</h5>
        <h5 class="mx-2">Raw Wpm: {{.TypeRun.Wpm}}</h5>
        <h5>|</h5>
        <h5 class="mx-2">Accuracy: {{.TypeRun.Accuracy}}%</h5>
        <h5>|</h5>
        <h5 class="mx-2">Time: {{.TypeRun.Time}}s</h5>
    </div>

    <div class="d-flex flex-row">

        <div class="d-flex flex-row">
            {{ if .LoggedIn }}
            {{ if .Last }}
            <a id="save" class="mx-2" href="/">Save</a>
            <p>|</p>
            {{ end }}
            {{ end }}
            <a id="repeat" class="mx-2" href="/">Repeat</a>
            <p>|</p>
            <a class="mx-2" href="/">New Test</a>
            {{ if .Owner }}
            {{ if not .Last }}
            <p>|</p>
            <a class="mx-2" href="/">Share</a>
            {{ end }}
            {{ end }}
            {{ if not .Last }}
            <p>|</p>
            <a class="mx-2" href="/profile?id={{ .TypeRun.OwnerId }}">Profile</a>
            {{ end }}

        </div>
    </div>

    <h3 id="ghostCaret" class="position-absolute">|</h3>
</div>
<script src="/js/replay.js"></script>
{{ if .LoggedIn }}
<script src="/js/stats.js"></script>
{{ end }}
<script>
    let textToHtml = document.getElementById("output");
    textToHtml.innerHTML = textToHtml.innerText
</script>
